@import "tailwindcss";

/* optional helper */
.json-pre { white-space: pre-wrap; word-break: break-word; font-size: 0.9rem; line-height: 1.5; }

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
